.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:2vw;
}

.total>h1,.total>h2{
    text-align: center;
}
.total>h1{
    font-size: 25px;
}
.total>h2{
    font-size: 19px;
}
.total>h1 span {
    font-weight: bolder;
   font-style: oblique;
}